@model SearchViewModel



<h2>Search result</h2>

<div id="ResultPanel"></div>

@if (Model.Success)
{

    @foreach (var item in Model.Records)
    {


        <div class="card mb-3">
            <div class="card-header"><a asp-controller="Home" asp-action="Record" asp-route-id="@item.RecordID"><eq-highlight-text text="@Model.Text" value="@item.Name" /></a></div>
            <div class="card-body">
                <h4><a  asp-controller="Home" asp-route-id="@item.USerID" asp-action="UserPage">Author:<eq-highlight-text text="@Model.Text" value=" @ViewData["author" + item.RecordID.ToString()]" /><span class="sr-only"></span></a></h4>
                <h5 class="card-title">Theme:<eq-highlight-text text="@Model.Text" value="@item.ThemeName" /></h5>
                <p class="card-text"> Description:<eq-highlight-text text="@Model.Text" value=" @item.Description" /></p>
            </div>
        </div>

    }

    @foreach (var step in Model.Steps)
    {
        string stepText="";
        foreach(string str in step.Text.Split('.'))
        {
            if (str.Contains(Model.Text)) { stepText = str; }
        }
        <div class="card mb-3">
            <div class="card-header"><a asp-controller="Home" asp-action="Record" asp-route-id="@step.RecordID.RecordID"><eq-highlight-text text="@Model.Text" value="@step.RecordID.Name" /></a></div>
            <div class="card-body">
                <h4><a  asp-controller="Home" asp-route-id="@step.RecordID.USerID" asp-action="UserPage">Author:<eq-highlight-text text="@Model.Text" value=" @ViewData["author" + step.RecordID.RecordID.ToString()]" /><span class="sr-only"></span></a></h4>
                <h5 class="card-title">Theme:<eq-highlight-text text="@Model.Text" value="@step.RecordID.ThemeName" /></h5>
                <h5 class="card-title">Step name:<eq-highlight-text text="@Model.Text" value="@step.StepName" /></h5>
                <p><eq-highlight-text text="@Model.Text" value=" @stepText." /></p>
            </div>
        </div>

    }

    @foreach (var user in Model.Users)
    {

        <div class="card mb-3">
            <div class="card-header"><a  asp-controller="Home" asp-route-id="@user.Id" asp-action="UserPage">User:<eq-highlight-text text="@Model.Text" value="@user.UserName" /><span class="sr-only"></span></a></div>

        </div>

    }
}
else
{
    <p>Nothing found</p>
}


