@model IEnumerable<Instructions.Models.Comment>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@for (Int32 i = 0; i < Model.Count(); i++)
{
    <div class="card border-primary mb-1">
        <div class="card-header">@Model.ElementAt(i).UserName</div>
        <div class="card-body">
            <p class="card-text">@Model.ElementAt(i).Text</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col align-self-end">
                    @if (User.Identity.Name == null || !(bool)ViewData["EmailConfirmed"])
                    {
                        <button type="button" class="btn btn-outline-secondary " style="max-width: 3rem;" commid="@Model.ElementAt(i).CommentID">❤</button>
                    }
                    else
                    {
                        @if (ViewBag.Likes[i])
                        {<button type="button" class="btn btn-success " style="max-width: 3rem;" commid="@Model.ElementAt(i).CommentID">❤</button>
                        }
                        else
                        { <button type="button" class="btn btn-outline-success" style="max-width: 3rem;" commid="@Model.ElementAt(i).CommentID">❤</button>}}
                    @ViewBag.LikesCount[i]
                </div>
            </div>
        </div>
        @if (User.Identity.Name != null && (User.Identity.Name == Model.ElementAt(i).UserName || (bool)ViewData["Role"]))
        {
            <hr />
            <div class="btn-group" role="group" aria-label="Basic example">
                <input type="submit" id="delete" commid="@Model.ElementAt(i).CommentID" name="id" value="@Localizer["Delete"]" class="btn btn-outline-danger " />
                <input type="submit" id="edit" commid="@Model.ElementAt(i).CommentID" name="id" value="@Localizer["Edit"]" class="btn btn-outline-info" />
            </div>
        }
    </div>
}
<script type="text/javascript">
    $('.btn-outline-danger').on('click', function (e) {

        $.ajax({
            url: '/Home/DeleteComment',
            type: 'POST',
            cache: false,
            async: true,
            data: { "id": $(this).attr("commid") },
            dataType: "html"
        })
            .done(function (result) {
                $('#Comments').html(result);

            }).fail(function (xhr) {
                console.log('error : ' + xhr.status + ' - ' + xhr.statusText + ' - ' + xhr.responseText);
            })
    });
</script>
<script type="text/javascript">
    $('.btn-outline-info').on('click', function (e) {
        if ($(this).closest('#edit').val() == "Edit") {
            $('.btn-info').hide();
            $(this).closest('.btn-info').show();
            var text = $(this).closest('.card-text').text();
            $(this).closest(".card ").append("<div id='changes'><p>Enter changes</p><input type='text' name='EditComment' id='EditComment' class='form-control' /></div>");
            $(this).closest('#edit').val("Save");

        }
        else {
            $.ajax({
                url: '/Home/EditComment',
                type: 'POST',
                cache: false,
                async: true,
                data: { "id": $(this).attr("commid"), "Text": $('#EditComment').val() },
                dataType: "html"
            })
                .done(function (result) {
                    $('#Comments').html(result);
                    $('#edit').val("Edit");
                    $(this).closest("#EditComment").remove();

                }).fail(function (xhr) {
                    console.log('error : ' + xhr.status + ' - ' + xhr.statusText + ' - ' + xhr.responseText);
                })
        }
    });
</script>
<script type="text/javascript">
    $('.btn-outline-success').on('click', function (e) {

        $.ajax({
            url: '/Home/CreateLike',
            type: 'POST',
            cache: false,
            async: true,
            data: { "id": $(this).attr("commid") },
            dataType: "html"

        })
            .done(function (result) {

                $('#Comments').html(result);

            }).fail(function (xhr) {
                console.log('error : ' + xhr.status + ' - ' + xhr.statusText + ' - ' + xhr.responseText);
            })
    });
</script>
<script type="text/javascript">
    $('.btn-success').on('click', function (e) {

        $.ajax({
            url: '/Home/RemoveLike',
            type: 'POST',
            cache: false,
            async: true,
            data: { "id": $(this).attr("commid") },
            dataType: "html"
        })
            .done(function (result) {
                $('#Comments').html(result);

            }).fail(function (xhr) {
                console.log('error : ' + xhr.status + ' - ' + xhr.statusText + ' - ' + xhr.responseText);
            })
    });
</script>
<script type="text/javascript">
    $('.btn-outline-secondary').on('click', function (e) { alert("You need log in or confirm email to like"); })
</script>

<script type="text/javascript">
   function update(interval) {
        $.ajax({
            url: '/Home/Comments',
            type: 'POST',
            cache: false,
            async: false,
            dataType: "html",
        })
            .done(function (result) {
                clearInterval(interval);
                $('#Comments').html(result);
            }).fail(function (xhr) {
                console.log('error : ' + xhr.status + ' - ' + xhr.statusText + ' - ' + xhr.responseText);
            })
    };

    $(document).ready(function () {
        var interval = setInterval(function () {
            $.ajax({
                url: '/Home/CommentsUpdate',
                type: 'POST',
                cache: false,
                async: false,
                data: { "count": @ViewData["count"] },
                dataType: "json",
            })
                .done(function (result) {
                    if (result == true) {
                        update(interval);
                    }
                }).fail(function (xhr) {
                    console.log('error : ' + xhr.status + ' - ' + xhr.statusText + ' - ' + xhr.responseText);
                })
        }, 5000);
    });
</script>