@model IEnumerable<Instructions.Models.Step>
@using System.Collections.Generic
@using Westwind.AspNetCore.Markdown
@{
    ViewData["Title"] = @ViewData["Name"];
}

<h1>@ViewData["Name"]</h1>
<hr />
<div class="row">
    <div class="col-md-10">
        <h5>User:@ViewData["Author"]</h5>
    </div>
    <div class="col-md-2" align="right">
        <h5>Theme: @ViewData["Theme"]</h5>
    </div>
</div>
<hr />
@if (Model.Count() != 0)
{

    <div id="carousel" class="carousel slide" data-ride="carousel">
        <!-- Индикаторы -->
        <div class="carousel-inner">

            <div class="carousel-item active">
                <div class="jumbotron">
                    <h1>@Model.ElementAt(0).StepName</h1>
                    <hr />

                   
                        <div>@Markdown.ParseHtmlString(Model.ElementAt(0).Text)</div>

                    <div class="row justify-content-center">
                        @if (ViewBag.images != null)
                        {
                            List<Image> images = ViewBag.images;
                            List<Image> imagesForStep = images.FindAll(a => a.StepID == Model.ElementAt(0));
                            if (imagesForStep != null)
                            {
                                foreach (Image image in imagesForStep)
                                {
                                    <center>
                                        <a href="@image.Link" class="image col-md-2">
                                            <img src="@image.Link" width="200" />
                                        </a>
                                    </center>
                                }

                            }
                        }
                    </div>
                </div>
            </div>
            @for (Int32 i = 1; i < Model.Count(); i++)
            {
                <div class="carousel-item">

                    <div class="jumbotron">
                        <h1> @Model.ElementAt(i).StepName</h1>
                        <hr />
                        <p>@Model.ElementAt(i).Text</p>


                        <div class="row justify-content-center">
                            @if (ViewBag.images != null)
                            {
                                List<Image> images = ViewBag.images;
                                List<Image> imagesForStep = images.FindAll(a => a.StepID == Model.ElementAt(i));
                                if (imagesForStep != null)
                                {
                                    foreach (Image image in imagesForStep)
                                    {
                                        <center>
                                            <a href="@image.Link" class="image col-md-3">
                                                <img src="@image.Link" width="200" />
                                            </a>
                                        </center>

                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            }

            <!-- Элементы управления -->
            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Предыдущий</span>
            </a>
            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Следующий</span>
            </a>
        </div>
    </div>
}
<hr />
<div id="content">
    <p><a asp-controller="Home" asp-action="CreateFile" asp-route-path="@string.Format("{0}://{1}{2}{3}", Context.Request.Scheme, Context.Request.Host, Context.Request.Path, Context.Request.QueryString)">DownloadPDF</a></p>
    <hr />
    <div id="Comments"></div>
    <hr />
    @if (User.Identity.Name != null && (bool)ViewData["EmailConfirmed"])
    {

        <div class="form-group">
            <label class="control-label">Comment</label>
            <input type="text" name="Text" id="Text" class="form-control" />
        </div>
        <input type="submit" id="add" value="Send" class="btn btn-default" />
    }
    else
    {
        <h3>You need log in or confirm email to leave comments</h3>
    }
    </div>
    <script type="text/javascript">
        $(function () {
            $('#carousel').carousel({
                interval: false

            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: '/Home/Comments',
                type: 'POST',
                cache: false,
                async: true,
                dataType: "html",
            })
                .done(function (result) {
                    $('#Comments').html(result);
                }).fail(function (xhr) {
                    console.log('error : ' + xhr.status + ' - ' + xhr.statusText + ' - ' + xhr.responseText);
                })
        });

    </script>


    <script type="text/javascript">
        $('#add').on('click', function (e) {
            $.ajax({
                url: '/Home/CreateComment',
                type: 'POST',
                cache: false,
                async: true,
                data: $('#Text').serialize(),
                dataType: "html"
            })
                .done(function (result) {
                    $('#Comments').html(result);
                    $('#Text').val("");
                }).fail(function (xhr) {
                    console.log('error : ' + xhr.status + ' - ' + xhr.statusText + ' - ' + xhr.responseText);
                })
        });

    </script>
    <script type="text/javascript">
        $(document).ready(function () { $(".image").fancybox(); });
    </script>
