@model List<Instructions.Models.Record>
<script src="~/lib/jquery.rateit/jquery.rateit.js"></script>

@foreach (Record item in Model)
{

<div class="jumbotron">
    <p class="display-3" align="center"> <a asp-controller="Home" asp-action="Record" asp-route-id="@item.RecordID">@item.Name</a></p>
    <div class="row">
        <div class="col-md-5">
            <h5><a asp-controller="Home" asp-route-id="@item.USerID" asp-action="UserPage">@ViewData["author" + item.RecordID.ToString()]<span class="sr-only"></span></a> </h5>
        </div>
        <div class="col-md-5">
            <div class="rateit" id="rateit" data-rateit-value="@ViewBag.Raiting[Model.IndexOf(item)]" data-rateit-ispreset="true" data-rateit-readonly="true" data-rateit-mode="font" style="font-size:30px">  </div>

        </div>

        <div class="col-md-2" align="right">
            <p>
                <font color="gray" size="2"><a asp-controller="Search" asp-route-TextSearchInput="@item.ThemeName" asp-action="Index">@item.ThemeName</a></font>
            </p>
        </div>
    </div>
    <hr />
    <div color="gray">@Westwind.AspNetCore.Markdown.Markdown.ParseHtmlString(item.Description)</div>
    <hr />
    <center>
        @if (item.ImageLink == null || item.ImageLink == String.Empty)
        {<img src="~/images/no_photo.png" alt="no image" class="img-fluid center-block" /> }
        else
        {
            <img src="@item.ImageLink" class="img-fluid center-block" height="200" style="width:auto" />}
        <hr />
    </center>

    <p><font color="gray" size="2">@ViewData[item.RecordID.ToString()] </font></p>
</div>
    
}


